* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    padding: 0 0px;

  }
  .app{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-image:url(pattern-bg-desktop.png);
    margin: auto 0px;
    padding: 26px 32px;
    height: 12rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .header h3 {
    color: #fff;
    font-weight: 300;
  }
  .searchBar
{
 border-radius: 10px;
 background-color: #0e0e0f;
 color: #fff;
 width: 23.3rem;
 margin: 1.5rem 0 ;
 display:inline-block;
 position:relative;

}
input{
    border:0;
    text-align: left;
    width: 20.3rem;
    height: 42px;
    outline: none;
    padding-left: 15px;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid grey;
  
  }
.header button{
    border: none;
    background-color: none;
    width: 46px;
    display: inline-block;
    border-radius: 0 10px 0 0;
    padding-right: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;

}
.infoTray{
    justify-content:space-around;
    background-color: #f8f6f6;
    width: 60vmax;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 5px 30px 0px;
    display: inline-flex;
    position: relative;
    z-index: 2;
    

}
.details{
    display: inline-block;
    text-align: left;
}
p{
    font-size: 7px;
    color: grey;
    margin: 0 auto .2rem;
}
/*  */
#map{
    height: 70vmax;
    position: relative;
}
.leaflet-container{
    height: 70vmax;
    position: relative;
    z-index: 0;          
}
.warning{
  color:red;
  font-weight: 400;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
@media(max-width: 880px){

    .infoTray{
    flex-direction: column;   
    flex-wrap: wrap;
    text-align: center;
    width: 15rem;
    display: inline-block;
    margin-top: 10px;
    }
    hr{
        display: none;
    }
    .searchBar
    {
     width: 15.3rem;
    }
    input{
     width: 12.3rem;
    }
    .details{
        display:block;
        text-align: center;
        margin-top: 10px;
    }
}
 