* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    padding: 0 0px;

  }
  .app{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-image:url(pattern-bg-desktop.png);
    margin: auto 0px;
    padding: 26px 32px;
    height: 12rem;
    text-align: center;
    position: relative;
    z-index: 2;
  }
  
  .header h3 {
    color: #fff;
    font-weight: 300;
  }
  .searchBar{
 border-radius: 10px;
 background-color: #0e0e0f;
 color: #fff;
 width: 23.3rem;
 margin: 1.5rem 0 ;
 display:inline-block;
 position:relative;
}
input{
    border:0;
    text-align: left;
    width: 20.3rem;
    height: 42px;
    outline: none;
    padding-left: 15px;
    border-radius: 10px 0px 0px 10px;
    border-right: 1px solid grey;
    cursor: pointer;
  }
input:hover{
  font-size: 1.2rem;
}
button:hover{
  transform: scale(1.2);
  background-color: #ff0051;
}
.header button{
    border: none;
    width: 48px;
    height: 42px;
    display: inline-block;
    border-radius: 0 10px 0 0;
    padding-right: 5px;
    background-color: black;
    color: #fff;
    cursor: pointer;
}
/* .button1:hover{
  background-color: greenyellow;
} */
.infoTray{
    justify-content:space-around;
    background-color: #f8f6f6;
    width: 60vmax;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 5px 30px 0px;
    display: flex;
    position: relative;
    z-index: 2;
    margin: 0 auto;
}
.infoTray:hover{
  background-color: rgb(206, 241, 230);
}
.details{
    display: inline-block;
    text-align: left;
}
p{
    font-size: 7px;
    color: grey;
    margin: 0 auto .2rem;
}
/*  */
/* #map{
    /* height: 60vmax; */
    /* position: relative; */
/* } */
.leaflet-container{
    height: 100vh;
    position: relative;
    z-index: 0;          
}
.warning{
  color:#ff0051;
  font-weight: 400;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

 @media(max-width: 1000px) {

   .infoTray {
     flex-direction: column;
     flex-wrap: wrap;
     text-align: center;
     width: 19rem;
     display: inline-block;
     margin-top: 10px;
     height: 15rem;
     

   }
 

   hr {
     display: none;
   }

   .searchBar {
     width: 19rem;
   }

   input {
     width: 16rem;
     font-size: 0.7rem;
   }

   .details {
     display: block;
     text-align: center;
     margin-top: 10px;
    padding: .3rem 0;
   }

 }
 /* @media(max-width: 600px) {

   .infoTray {
     flex-direction: column;
     flex-wrap: wrap;
     text-align: center;
     width: 15rem;
     display: inline-block;
     margin-top: 10px;
   }

   hr {
     display: none;
   }

   .searchBar {
     width: 15.3rem;
   }

   input {
     width: 12.3rem;
     font-size: 0.7rem;
   }

   .details {
     display: block;
     text-align: center;
     margin-top: 10px;
   }
 } */